@font-face {
    font-family: podpis;
    src: url('../fonts/OpenSans-Regular-webfont.eot'), url("../fonts/AMERIKA_.ttf");
}

/*@font-face {
    font-family: awesome_icons;
    src: url('../fonts/fontawesome-webfont.eot'), url("../fonts/fontawesome-webfont.ttf");
}*/

@font-face {
    font-family: hl;
    src: url('../fonts/OpenSans-Regular-webfont.eot'), url("../fonts/Istok-Regular.ttf");
}

html {
    background: url(../pics/pozadi3.jpg);
    text-shadow: 3px 3px 10px rgba(0,0,0,0.6);
}
body {
    font-family: hl;
}
div.body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

div.hlavicka {
    width: 900px;
    height: 100px;
    background: rgba(255,255,255,0.6);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.uvitani img {
    height: 100px;
    width: 100px;
    float: left;
    position: static;
    border-top-left-radius: 6px;
    opacity: 0.9;
}

div.uvitani p {
    float: right;
    position: static;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 34px;
    color: yellow;
    height: 100px;
    font-size: 25px;
    width: 50%;
    text-align: center;
    margin-top: 0px;
    margin-left: -3px;
}

div.menu ul a:link {
    color: black;
    text-decoration:none;
}

div.menu ul li{
    //animation:  menu1 0.5s forwards;
    //-webkit-animation: menu1 0.5s forwards;
    transition: 0.3s ease-in-out;
    border-radius: 6px;
}

div.menu ul a:visited {
    color: black;
    text-decoration:none;
}

div.menu ul li a:hover {
    text-decoration:underline;
}

@keyframes menu { /* CSS3 */
	0%   { background: radial-gradient(ellipse 500% 10%, rgba(255,255,255,0.0), rgba(255,255,255,0)); }
	50%  { background: radial-gradient(ellipse 500% 20%, rgba(255,255,255,0.5), rgba(255,255,255,0.05)); }
	100% { background: radial-gradient(ellipse 500% 30%, rgba(255,255,255,1), rgba(255,255,255,0.1)); }
}

@-webkit-keyframes menu { /* Webkit */
	0%   { background: radial-gradient(ellipse 500% 10%, rgba(255,255,255,0.0), rgba(255,255,255,0)); }
	50%  { background: radial-gradient(ellipse 500% 20%, rgba(255,255,255,0.5), rgba(255,255,255,0.05)); }
	100% { background: radial-gradient(ellipse 500% 30%, rgba(255,255,255,1), rgba(255,255,255,0.1)); }
}

div.menu ul li:hover {
    //background: rgba(120,120,120,0.6);
    //animation-fill-mode: forwards;
    animation:  menu 0.2s forwards;
    -webkit-animation: menu 0.2s forwards;
    //background: radial-gradient(ellipse 500% 20%, rgba(255,255,255,1), rgba(255,255,255,0.1));
    box-shadow: 0px 0px 10px rgba(255,255,255,1.8);
    
}

#advanced {
    display: none;
    z-index: 2;
    background: rgba(5,21,255,0.2);
    position: inherit;
    float: right;
    height: 100px;
    text-align: center;
    border-radius: 6px;
    margin-left: 0px;
}
/*
div.menu ul div ul{
    padding-left: 15px;
}
*/
#otevri {
    height: auto;
    width: auto;
    display: block;
    float: left;
    margin-right: -100px;
}

div.hltext {
    width: 670px;
    height: auto;
    display: block;
    float: left;
    padding-left: 10px;
    text-align: center;
}

div.menu {
    text-align: center;
    width: 200px;
    float: right;
    height: auto;
    font-size: 20px; 
    //margin-left: -3px;
}

div.menu ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    text-align: center;
    //font-size: 20px;
    //padding-right: 20px;
    //margin-left: -10px;
}

div.menu ul li {
    text-align: center;
    height: 50px;
    //float: left;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    line-height: 50px;
}

div.telo{
    width: 900px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.4);
    z-index: 2;

}

div.toolbar {
    width: 200px;
    height: auto;
    display: block;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

div.uvitani {
    width: 270px;
    float: left;
    height: 100px;
}

div.zahlavi {
    font-family: podpis;
    display: block;
    position: relative;
    width: 900px;
    background: rgba(255,255,255,0.4);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    float: left;
}

div.zahlavi p {
    text-align: center;
}

div.hltext table {
    margin-left: auto;
    margin-right: auto;
}

#map_canvas {
    width: 500px;
    height: 400px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}

#image img {
    width: 670px;
}

#gallery {
    padding-top: 10px;
}

p.oddelovac {
    height: 5px;
    width: 80%;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(255, 255, 0, 1);
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 0, 1); 
    -moz-box-shadow: 0 0 20px rgba(255, 255, 0, 1);
}

p.oddelovac_nov {
    height: 5px;
    width: 80%;
    background-color: lime;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 255, 0, 1);
    -webkit-box-shadow: 0 0 20px rgba(0, 255, 0, 1); 
    -moz-box-shadow: 0 0 20px rgba(0, 255, 0, 1);
}

.tabulka {
    text-align: right;
}

.odesli {
    margin-left: auto;
    margin-right: auto;
}

.error {
    padding-right: 5px;
    position: absolute;
    z-index: 500;
    float: right;
    right: 0px;
    height: 40px;
    width: auto;
    background-color: rgba(212,0,93,0.9);
    border-radius: 8px;
    text-align: center;
}

.error p {
    padding-right: 5px;
    padding-left: 5px;
    right: 0px;
    line-height: 0px;
    font-size: 20px;
}

.success {
    padding-right: 5px;
    right: 0px;
    position: absolute;
    z-index: 500;
    float: right;
    height: 40px;
    width: auto;
    background-color: rgba(0,212,93,0.9);
    border-radius: 8px;
    text-align: center;
}

.success p {
    padding-right: 5px;
    padding-left: 5px;
    right: 0px;
    line-height: 0px;
    font-size: 20px;
}

#textbox-panel {
    display: none;
    background-color: white;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    position: absolute;
    z-index: 1100;
}

#textbox {  
    display: none;  
    opacity: 0.8;  
    filter: alpha(opacity=90);  
    position: absolute;  
    top: 0px;  
    left: 0px;  
    min-width: 100%;  
    min-height: 100%;  
    z-index: 1000; 
}  


a#zobrazit{
    cursor: pointer;
    float: right;
    margin-top: 0px;
    border-radius: 20px;
    padding-right: 5px;
    
}

a#zobrazit img {
    height: 20px;
    border-radius: 20px;
    opacity: 0.6;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
}

div.menu_admin {
    float: left;
    width: 200px;
    background: rgba(255,255,255,0.6);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

div.hltext_admin {
    padding-bottom: 20px;
    float: right;
    width: 696px;
    background: rgba(255,255,255,0.4);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 4px;
	text-align: center;
}

div.hltext_admin table {
    margin-left: auto;
    margin-right: auto;
}

div.hltext_admin table input {
    float: right;
}

div.menu_admin ul a {
    text-align: center;
}

div.menu_admin ul a li {
    list-style: none;
    line-height: 40px;
    width: 80%;
}

div.menu_admin ul a li:hover {
    background: rgba(120,120,120,0.6);
    border-radius: 6px;
    width: 80%;
}

div.menu_admin ul a li:active {
    background: rgba(120,120,120,0.6);
    border-radius: 6px;
    width: 80%;
}

div.menu_admin ul a:link {
    color: black;
    text-decoration:none;
}

div.menu_admin ul a:visited {
    color: black;
    text-decoration:none;
}

div.menu_admin ul li a:hover {
    text-decoration:underline;
}

a#vratit{
    cursor: pointer;
    float: right;
    margin-top: 0px;
    border-radius: 20px;
    padding-right: 5px;
}

a#vratit img {
    height: 20px;
    border-radius: 20px;
    opacity: 0.6;
}

.obsahq {
	z-index: 0;
        
}
iframe {
    box-shadow: 5px 5px 15px rgba(0,0,0,1);
}

input {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}

textarea {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}

.logintop {
	z-index: 9999999;
}

.napravo {
    font-size: 12px;
}

#vyhledavani {
    color: rgba(255,255,255,0.2);
    position: fixed;
    margin-left: -220px;
    background: rgba(255,255,255,0.05);
    background: rgba(90,150,255,0.05);
    width: 200px;
    border-radius: 7px;
    height: 100px;
    transition: 0.5s ease-in-out;
}

#vyhledavani input {
    opacity: 0.2;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0,0,0,1);
}

#vyhledavani:hover{
    color: rgba(255,255,255,0.9);
    background: rgba(255,255,255,0.2);
    background: rgba(90,150,255,0.2);
}

#vyhledavani:hover input {
    opacity: 1;
}

.cke_dialog_ui_checkbox_input {
    box-shadow: 0px 0px 0px rgb(0,0,0);
}

icon {
    border-radius: 20px;
}

.odstavec{
    height: 49%;
    width: 49%;
    float: left;
}